offset_aoi.fig filter=lfs diff=lfs merge=lfs -text
offset_full.fig filter=lfs diff=lfs merge=lfs -text
offset_p2.fig filter=lfs diff=lfs merge=lfs -text
snr_vs_exposure.fig filter=lfs diff=lfs merge=lfs -text
variance_aoi.fig filter=lfs diff=lfs merge=lfs -text
variance_full.fig filter=lfs diff=lfs merge=lfs -text
variance_p2.fig filter=lfs diff=lfs merge=lfs -text
lab_1.mat filter=lfs diff=lfs merge=lfs -text
